@import url(https://fonts.googleapis.com/css?family=Montserrat:400);

$green: #66B266;
$gray: #ccc;
$gray-lite: #ededed;

$color-body: $green;
$color-border: $gray-lite;
$color-button: $green;
$color-button-text: white;
$color-button-disabled: lighten($gray, 10%);
$color-complete: $gray;
$color-checkbox: lighten($green, 10%);
$color-checkbox-checked: $green;
$color-item: darken($green, 20%);

$margin-element: 24px;

$font: 'Montserrat', sans-serif;

@mixin placeholder {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  position: relative;
  height: 100%;
  padding: 8%;
  margin: 0;
  background: lighten($color-body, 10%);

}

main {
  width: 100%;
  padding: $margin-element;
  font-family: $font;
  font-size: 18px;
  line-height: 22px;
  background: white;
  border-radius: 8px;
  box-shadow: rgba(black, 0.2) 0 20px 20px -12px;
}

.autor-page{
  position: absolute;
  text-align: center;
  max-width: 600px;
  margin: auto;  
}

p {
  font-size: 14px;
  margin-bottom: $margin-element;
}

.cursor{
  cursor: pointer;
}

.left{
  float: left;
}

.right{
  float: right;
}


.create_input{

  margin-bottom: $margin-element;
  input {
    width: 65%;
    margin-bottom: 20px;

  }

  button{
    position: relative;

  }
}

button {
  margin-top: 20px;
  padding: 12px 20px;
  font-family: $font;
  text-transform: uppercase;
  border: none;
  background: $color-button;
  color: $color-button-text;
  box-shadow: inset darken($color-button, 20%) 0 -2px 0;
  cursor: pointer;
  outline: none;
  transition: background-color 0.2s ease-out;
  border-radius: 0;
  &:disabled {
    background: $color-button-disabled;
    box-shadow: inset darken($color-button-disabled, 5%) 0 -2px 0;
    &:hover {
      background: $color-button-disabled;
    }
  }
  &:hover {
    background: darken($color-button, 5%);
  }
  &:active {
    box-shadow: inset darken($color-button, 15%) 0 0 0;

  }
}

input {
  padding: 10px;
  font-family: $font;
  font-size: 18px;
  outline: none;
  border: 1px solid $color-border;
  transition: border 0.2s ease-out;
  border-radius: 0;
  box-shadow: none;
  margin-top: 10px;
  @include placeholder {
    color: lighten($gray, 5%);
    transition: opacity 0.2s ease-out,
      transform 0.2s ease-out;
  }
  &:focus {
    border: 1px solid $color-button;
    @include placeholder {
      transform: translateX(12px);
    }
  }
}

input[type="checkbox"] {
  position: absolute;
  top: 0; right: 0; bottom: 0;
  margin: auto;
  display: none;
  + label {
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0;
    margin: auto;
    width: 24px;
    height: 24px;
    background: lighten($color-checkbox, 15%);
    border-radius: 100%;
    cursor: pointer;
    box-shadow: 
      inset lighten($color-checkbox, 15%) 0 0 0 2px,
      inset white 0 0 0 4px;
    transition: box-shadow 0.1s ease-out;
    &:before {
      width: 0;
      height: 0;
    }
    &:after {
      opacity: 0;
      content: "";
      position: absolute;
      top: -2px; right: 0; bottom: 0; left: 0;
      margin: auto;
      width: 3px;
      height: 8px;
      border-right: 3px solid white;
      transform: rotate(90deg);
      transition: opacity 0.2s ease-out;
    }
    &:hover {
      box-shadow: 
      inset $color-checkbox 0 0 0 12px,
      inset white 0 0 0 12px;
      &:after {
        opacity: 1;
      }
    }
  }
  &:checked {
    + label {
      background: transparent;
      box-shadow: none;
      animation: bounce 0.4s linear;
      &:before {
        content: "";
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        margin: auto;
        width: 100%;
        height: 100%;
        background: $color-checkbox-checked;
        border-radius: 100%;
      }
      &:after {
        opacity: 1;
        border-bottom: 3px solid white;
        transform: rotate(45deg);
      }
    }
  }
}

ul {
  margin: 0 0 $margin-element;
  border-top: 1px solid $color-border;
  li {
    color: $color-item;
    position: relative;
    padding: 16px 0 16px 0;
    background: white;
    transition: color 0.1s ease-out;
  }
}

.completed {
  color: $color-complete;
  span {
    text-decoration: line-through;
  }
}

@keyframes bounce {
  0% {
    transform: scale(0.8);
  }
  25% {
    transform: scale(1.4);
  }
  50% {
    transform: scale(0.9);
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

// Fade in and out items
.fade, .fade span {
  transition: 0.2s ease-out;
  &.all-complete {
    transition-delay: 0.3s;
  }
  &.ng-enter {
    opacity: 0;
  }
  &.ng-enter.ng-enter-active {
    opacity: 1;
  }
  &.ng-leave {
    opacity: 1;
    span {
     transform: translateX(0); 
    }
  }
  &.ng-leave.ng-leave-active {
    opacity: 0;
    span {
     transform: translateX(24px); 
    }
  }
  &.ng-hide {
    opacity: 0;
    transition: 0s;
  }
  &.ng-show {
    opacity: 1;
  }
}

.cont-registr{
  padding: 20px;
}

.red-border{
  border-color: red; 
}


/************* checkboxes ***************/


label {
  display: inline-block;
  width: 100%;
  background: #fff;
  padding: 3px 5px;
  
  // Hide the ugly checkbox
  > input {
    display: none;
  }
  
  // New beautiful checkbox
  i {
    display: inline-block;
    float: right;
    padding: 2px;
    width: 40px;
    height: 20px;
    border-radius: 13px;
    vertical-align: middle;
    transition: .25s .09s;
    position: relative;
    background: #d8d9db;
    box-sizing: initial;
    &:after {
      content: " ";
      display: block;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: #fff;
      position: absolute;
      left: 2px;
      transition: .25s;
    }
  }
  
  // Checked-state
  > input:checked + i {
    background: #66B266;
  }
  
  > input:checked + i:after {
    transform: translateX(20px);
  }
  
  // Label-hover
  &:hover {
    cursor: pointer;
  }
  
}



.add_subtask{
  float: right;
  padding-left: 20px;
  cursor: pointer;
}


.sub_task_margin{
  padding-right: 0px;
}